header {
    background-color: rgb(250, 239, 210);
    height: 100px;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin-block-end: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    float: left;
    margin-top: 25px;
}

ul li {
    display: inline-block;
    margin-left: 15px;
}

ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#search-input,
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 10px; 
    border-radius: 5px;
    padding: 7px;
    border: none; 
}

#search-input {
    width: 200px;
}

button {
    background-color: #e9daa5;
    cursor: pointer;
}

button:hover {
    background-color: rgba(241, 224, 138, 0.829);
}

.menu-item {
    margin-right: 10px; /* Justera detta värde efter önskad avstånd */
    border: 1px solid #ead075;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color:rgba(241, 224, 138, 0.829);
}


h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: xx-large;
    margin-top: 10px;
}

h2 {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.firstletter {
    font-weight: bolder;
    font-size: x-large;
}

.hero {
    background-image: url(../images/notebookhero.jpg);
    width: 100vw;
    height: 350px;
    background-size: cover;
    margin-top: 5px;
}

.flex-table {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
  
  .row {
    display: flex;
    width: 100%;
    margin-bottom: 10px; /* Avstånd mellan varje rad */
  }
  
  .cell {
    padding: 10px;
  }
  
  .left {
    flex-basis: 25%; /* Bredden för den vänstra kolumnen */
  }
  
  .right {
    width: 60%; /* Låter den högra kolumnen expandera för att fylla resterande utrymme */
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

  footer {
    background-color: rgb(250, 239, 210);
    height: 90px;
    width: 100vw;
    background-size: cover;
    margin-block-end: auto;
}
  